@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  --color-green: #81d656;
}

.App {
  text-align: center;
}

.logo {
  width: 400px;
  margin: auto;
}

header {
  margin: 30px;
}

svg {
  width: 4em;
  fill: black;
}

.main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
  padding-top: 7em;
  justify-content: center;
}

.main-nav li {
  display:inline-block;
  border: 2.5px solid black;
  padding: 1em;
  margin: .75em;
  border-radius: 14px;
}

/* Header */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 30px;
}

.zeroDue {
  margin: auto;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 30%;
  border-radius: 4px;
  margin-right: 20px;
}

.searchInput {
  width: 80%;
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  padding: 10px 16px;
  font-size: 1.1rem;
}

.searchBtn {
  width: 25%;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  border: 1px solid black;
  border-left: none;
  padding: 1px;
  font-size: 14px;
  background-color: var(--color-green);
}

.searchIcon {
  width: 25px;
  height: 25px;
}

.filterLink {
  background-color: var(--color-green);
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 4px;
  width: 25%;
  padding: 1px;
}

.filterIcon {
  width: 35px;
  height: 35px;
}

.searchBtn:hover,
.filterLink:hover {
  border: 2px solid black;
  padding: 0;
}

.headerBtnsDiv {
  display: flex;
  flex-direction: column;
}

.headerBtnsDiv button {
  padding: 12px 20px;;
  font-size: 1.1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 100%;
  margin: 5px;
}

.headerBtnsDiv button:hover,
.headerBtnsDiv button:focus {
  border: 2px solid black;
  padding: 10px 18px;
}


/* Home */

.home {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 20vh;
  justify-content: space-between;
}

.home div {
  width: 100%;
  height: 100%;
  border: 4px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home a {
  text-decoration: none;
  color: black;
  width: 14%;
}

.home img {
  width: 3rem;
  margin-top: 10px;
}

#plus-icon {
  width: 2rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.reg,
.prov {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 60px auto 20px;
  justify-content: center;
}

.prov {
  margin-top: 30px;
}

.reg  button,
.prov button {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  margin: 2px 2px;
  background-color: var(--color-green);
  cursor: pointer;
}

.prov button {
  font-size: 0.95rem;
}

.reg button:hover,
.prov button:hover,
.reg button:focus,
.prov button:focus {
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}


/* Sign In */

.signInForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 50px auto;
}

.signInForm input {
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px;
  padding: 9px;
  font-size: 1rem;
}

.signInForm button {
  margin: 8px;
  padding: 8px;
  font-size: 1.1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.signInForm button:hover,
.signInForm button:focus {
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
}


/* Add Form  */

.addForm {
  margin: auto;
  width: 50%;
}

.formDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.addForm input[type="text"],
.addForm input[type="tel"],
.addForm input[type="email"] {
  max-width: 550px;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
  padding: 9px;
  font-size: 1rem;
}

.addForm input[type="radio"] {
  margin: 8px;
}

textarea {
  max-width: 600px;
  width: 100%;
  height: 60px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
  padding: 9px;
  font-size: 1rem;
  resize: none;
}

.addBtn {
  width: 40%;
  margin: 30px auto 50px;
  padding: 12px;
  font-size: 1.1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.addBtn:hover,
.addBtn:focus {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

.formDiv1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formDiv2 {
  margin: 8px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 4px;
}


.formDiv2 label div {
  font-size: .9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.input-div {
  position: relative;
  width: 100%;
}

.input-arrow-div {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(45deg);
  transform: rotate(45deg);
}

.dropdown-div {
  width: 100%;
  position: relative;
}

.dropdown {
  border: 2px solid black;
  border-bottom: none;
  border-top: none;
  border-radius: 4px;
  width: 100%;
  margin-top: -8px;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 10;
}

.dropdown.visible {
  display: block;
}

.dropdown-option {
  height: 2rem;
  border-bottom: 2px solid black;
  display: flex;
  padding-left: 10px;
  padding-top: .4rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: var(--color-green);
}

.dropdown:after {
  position: absolute;
  content: "";
  bottom: -40px;
  height: 40px;
  width: 1px;
}

.input-clear-div {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}


/* Shop */

.shopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
  font-size: 1.2rem;
}

.shopInfo {
  text-align: left;
  width: 70%;
}

.shopBusiness {
  margin-top: 20px;
}

.shopBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin: 30px auto;
}

.updateBtn,
.deleteBtn {
  padding: 15px 25px;
  font-size: 1.1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.updateBtn:hover,
.deleteBtn:hover {
  border: 2px solid black;
  padding: 13px 23px;
}


/* ShopsList */

.shopsList {
  width: 70%;
  margin: 40px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.shopsListDiv {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 1.5px));
  column-gap: 2px;
  margin: 0 2px 2px 2px;
}

.shopsListDiv div {
  padding: 8px;
  background-color: white;
  color: black;
}

.shopsList a:first-child {
  margin-top: 2px;
}



/* Errors */

.validationErrors {
  margin: 30px;
  color: rgb(201, 5, 5);
  font-size: 1.2rem;
}

